.row-body {
  margin-top: 70px;
}

.topic {
  padding: 20px;
}

.content {
  display: flex;
}
.card {
  margin-right: 25px;
  border-color: rgb(206, 195, 195);
}
.category {
  padding: 20px 0px 0px 100px;
}
